body {
    margin: 0px;
    padding: 0px;
    direction: rtl;
}

.All {
    width: 100%;
    height: 482px;
    background-color: #F7F8FB;
    padding-top: 18px;
}

    .All p.Matn {
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        width: 90%;
        height: 40px;
        margin-right: 30px;
        font-size: 20px;
        border-bottom: 6px solid #EAEEEF;
    }

.MatnZiad {
    width: 93%;
    min-height: 10px;
    margin-right: auto;
    margin-left: auto;
}

    .MatnZiad p {
        font-size: 19px;text-align:justify;
        font-family: 'B Nazanin';line-height:32px
    }
    .Bold{
        font-weight:600;
    }
    .Color{
        color:#000080;
    }
    .Color2{
        color:#3A3636
    }
    .Green{
        color:green
    }
